# Google Sheets Configuration
NEXT_PUBLIC_SPREADSHEET_ID=ВАШ_ID_ТАБЛИЦЫ

# Service Account Credentials
SERVICE_ACCOUNT_EMAIL=test-results-service@your-project.iam.gserviceaccount.com
SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nВАШ_ПРИВАТНЫЙ_КЛЮЧ_ОТСЮДА\n-----END PRIVATE KEY-----\n"
SERVICE_ACCOUNT_PROJECT_ID=your-project-id
